menubar, toolbar, #addon-bar, nav-bar, .tabbrowser-tab[selected="true"], #TabsToolbar > * {
  background-color: -moz-dialog !important;
}

tabpanels {
  -moz-appearance: tabpanels !important;
  border: none !important;
  background-color: -moz-Dialog !important;
}

menubar, toolbar[type="menubar"] {
  -moz-appearance: menubar;
  min-width: 1px;
  min-height: 20px;
  padding: 1px 0px;
}

toolbar {
  -moz-appearance: toolbar;
  min-width: 1px;
  min-height: 20px;
  padding: 2px 0px;
}

#addon-bar {
  box-shadow: 0 1px 0 rgba(0,0,0,.15) inset;
  padding: 0;
  min-height: 20px;
}

.tabbrowser-tab,
.tabs-newtab-button {
  background-color: #FBFBFB !important;
}

.tabbrowser-tab[selected="true"] {
  background-color: white !important;
}

description,
label {
  color: inherit !important;
}

toolbarbutton:hover {
  color: -moz-buttonhovertext;
  background-color: #FBFBFB !important;
}

.tabbrowser-tab:hover,
.tabs-newtab-button:hover {
  /*background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.2) 4px, hsla(0,0%,75%,.2) 80%);*/
  background-color: -moz-dialog !important;
}

.searchbar-textbox, #urlbar {
  background-color: -moz-field !important;
}

.progressmeter-statusbar {
  background-color: white !important;
}

::-moz-selection { 
    background-color: #3daee9;
}

menubar > menu[open] {
  color: -moz-menubarhovertext;
  background-color: -moz-menuhover !important;
}

menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"],
.splitmenu-menuitem[_moz-menuactive="true"] {
  color: -moz-menuhovertext;
  background-color: -moz-menuhover !important;
}

menupopup,
panel {
  -moz-appearance: menupopup;
  background-color: -moz-dialog !important;
}

window,
page,
dialog,
wizard,
prefwindow {
  -moz-appearance: window !important;
  background-color: -moz-Dialog !important;
}

button {
  background-color: #FBFBFB !important;
}

button:hover {
  color: -moz-buttonhovertext !important;
  background-color: #22A7F0 !important;
}